$padding: 30px;
$textAlign: center;
$fontSize: 130px;
$border: 3px solid #FFF;
$color: #fff;

.container-title{
    border-top: $border;
    border-bottom: $border;
    width: 100%;
    padding: $padding;
    margin: 10px;
}

h1{
    text-align: $textAlign;
    font-size: $fontSize;
    color: $color;
}

@media (max-width: 572px) {
    h1{
        font-size: 80px;
    }
}

@media (max-width: 370px) {
    h1{
        font-size: 50px;
    }
}

@media (max-width: 259px) {
    h1{
        font-size: 25px;
    }
}