<header>
    <app-nav-bar></app-nav-bar>
</header>
<app-title></app-title>
<div class="container-articles">
    <div class="articles-main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card photo="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREPHWgWhO12C00i1_nn3j1jLzAzoV9LZd1qA&usqp=CAU"
        title="novas séries márvel"></app-small-card>
        <app-small-card photo="https://p2.trrsf.com/image/fget/cf/1200/1600/middle/images.terra.com/2023/09/09/412943537-fernando-diniz-neymar-selecao-brasileira-bolivia.jpg"
        title="sem neymar brasil busca se recuperar após tropeço diante do Uruguai"></app-small-card>
       
    </div>
</div>
