$marginTop: 30px;
$display: flex;
$flex: row;
$justify: center;


.container-articles{
    margin-top: $marginTop;
    display: $display;
    flex-direction: $flex;
}

header{
    display: $display;
    justify-content: $justify;
}